.banner{
    background-image: url(../../images/background.png);
    background-position: center;
    background-size: cover;
    height: 63vh;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 900px;
    margin: auto;
}

.banner-content h1{
    margin: 0;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    margin-bottom: 40px;
}

.btn-primary{
    padding: 15px 25px;
    background-color: #1EDD88;
    border-radius: 25px;
    color: white;
}